.pykc-logo {position:absolute;top:574px;left:767px;}

h1 {margin-top:160px}

#the-zen-of-python h1, #the-zen-of-python-cont h1 {margin-top:0px;font-size:50px;}
#the-zen-of-python p, #the-zen-of-python-cont p {margin:0 0 0 0;padding-bottom:15px;padding-right:52px;font-size:30px;}